.background{
  background: url('./MyComponent/Images/background.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
}
.space{
  letter-spacing: 5px;
}
.loginform{
  margin: 10vh 0 0 60vh;
  width: 90vh;
  padding: 5vh;
  border-radius: 3vh;
  box-shadow:  0 0 20px white;
}
@media only screen and (max-width: 600px){
  .loginform{
    margin: 2vh 0 0 3.3vh;
    width: 40vh;
  }
}
@media only screen and (max-width: 900px){
  .loginform{
    margin: 2vh 0 0 3.3vh;
  }
}